MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/
MONGODB_DB=PoliticalNews
MONGODB_COLLECTION=News
MONGODB_PROFILE_COLLECTION=Profiles

NEWS_API_KEY=798462ae959e4bf4baa3bc3304cd8ec8
GEMINI_API_KEY=
YOUTUBE_API_KEY=AIzaSyA2SYSsQvT3wCjq_iBKE8TiGJDQXnfQq80
TWITTER_BEARER=AAAAAAAAAAAAAAAAAAAAADqR8wEAAAAADQqcjRe1xFLpyNsTyAztGBqPeBc%3DcwPfcTQZV6wKc17ziS5FznXe7q9G0ZGcpBbLu0QiKtSFfXTmT1
FACTIVA_API_KEY=
LEXISNEXIS_API_KEY=
NYC_OPEN_DATA_APP_TOKEN=
NYC_OPEN_DATA_BASE_URL=https://data.cityofnewyork.us
